* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.6;
    background: #e9ecef;
    color: #333;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

.image-section {
    width: 100%;
    padding: 25px;
    background: #61881c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 40%;
    filter: drop-shadow(10px 10px 20px #000);
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.form-title {
    font-weight: bold;
    font-size: 2.125rem;
}

.message {
    display: none;
    background: #780000;
    color: #e9ecef;
    border-radius: 5px;
}

.input-field {
    width: 100%;
    position: relative;
}

.input {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: 1px solid #98a6b4;
    background: transparent;
    color: #000;
    font-weight: 400;
    transition: outline 0.2s ease;
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #98a6b4;
    pointer-events: none;
    transition: color 0.2s ease;
}

.label {
    position: absolute;
    left: 12px;
    top: -15px;
    color: #61881c;
    background: #e9ecef;
    pointer-events: none;
}

.input:hover {
    outline: 1px solid #61881c;
}

.input:hover~.icon {
    color: #61881c;
}

.input:focus~.icon {
    color: #61881c;
}

.input:focus-visible {
    outline: 2px solid #61881c;
}

.input--danger {
    outline: 1px solid #780000;
}

.input-options {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #98a6b4;
    font-size: 0.95rem;
}

.checkbox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.checkbox input {
    display: none;
}

.checkmark {
    width: 15px;
    height: 15px;
    border: 2px solid #98a6b4;
    border-radius: 4px;
    display: grid;
    place-items: center;
    transition: .2s ease;
}

.checkmark::after {
    content: "✔";
    font-size: 10px;
    color: white;
    display: none;
}

.checkbox input:checked+.checkmark {
    background: #61881c;
    border-color: #61881c;
}

.checkbox input:checked+.checkmark::after {
    display: block;
}

.link {
    color: #61881c;
}

.forgot-password {
    flex: 1;
}

.btn {
    width: 100%;
    padding: 15px 0;
    border: 1px solid transparent;
    background: #61881c;
    border-radius: 10px;
    color: #e9ecef;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #719f21;
}

.btn:active {
    transform: scale(0.98);
    background: #83b726;
    color: #000;
}

.login-with {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #98a6b4;
}

.text span {
    background: #e9ecef;
    padding: 0 10px;
    color: #98a6b4;
    z-index: 1;
}

.google-login {
    width: 100%;
}

.google-link {
    text-align: center;
    display: block;
    padding: 10px 0;
    border: none;
    outline: 1px solid #98a6b4;
    border-radius: 15px;
    transition: outline 0.3s ease, transform 0.2s ease;
}

.google-link:hover {
    background: #fff;
    outline: 1px solid transparent;
    ;
}

.google-link:active {
    transform: scale(0.97);
    outline: 1px solid transparent;
}

.google-link:active .fa-google {
    background: linear-gradient(to bottom,
            #4285F4 0% 25%,
            #EA4335 25% 50%,
            #FBBC05 50% 75%,
            #34A853 75% 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.register {
    display: inline-block;
    width: 100%;
    color: #98a6b4;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 2;
}

.modal-content {
    background: #e9ecef;
    width: 80%;
    max-width: 500px;
    padding: 30px;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: scale(0.7);
    opacity: 0;
}

@keyframes bubblePop {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
        opacity: 1;
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.modal--active .modal-content {
    transform: scale(1);
    opacity: 1;
    animation: bubblePop 0.4s ease;
}

.modal-icon {
    background: #61881c;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #e9ecef;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: scale(0);
}

@keyframes iconPop {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.modal--active .modal-icon {
    animation: iconPop 0.3s ease;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.check {
    opacity: 0;
    transform: scale(0.5);
}

@keyframes checkAppear {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        transform: scale(1.2);
    }
    80% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal--active .check {
    animation: checkAppear 0.3s ease;
    animation-delay: 0.45s;
    animation-fill-mode: forwards;
}

.success {
    font-weight: bold;
    font-size: 1.5rem;
}

.modal--active {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 768px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .form-section {
        justify-content: center;
    }
}